a(href="auth/facebook") Sign up
a(href="users/messages?id_target=562fc57580d116136b1f8651") See messages

div
	form(action='users/match', method='post')
		label(for='id_current') id_current
		input(id='id_current',type='text',value='',name='id_current')
		label(for='id_target') id_target
		input(id='id_target',type='text',value='', name='id_target')
		input(type='submit' value='Match')



div
	form(action='/users/message', method='post')
		label(for='id_current') id_current
		input(id='id_current',type='text',value='',name='id_current')
		label(for='id_target') id_target
		input(id='id_target',type='text',value='',name='id_target')
		label(for='message') Message
		input(id='message',type='textarea', name='message')
		input(type='submit', value='SendMess')


